body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-left: 50px;
}

h1 {
    text-align: center;
    color: #333333;
}

p {
  margin: 0 auto;
  font-size: large;
}

p.examples{
  display: flex;
  width: 45%;
  margin: 0 auto;
}

p.cards{
  display: flex;
  width: 60%;
  margin: 0 auto;
}

div.intro{
  width: 25%;
  height: 45%;
  padding: 21px;
  border-radius: 21px;
  border-style: solid;
  background-color: #333333 0.5;
  border-width: 0.1rem;
  border-color: #333333;
}

a {
    display: block;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #333333;
    color: white;
    margin: 0 auto;
}

form {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    margin: 0 auto;
}

button {
    display: block;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 0.1rem;
    color: #333333;
    border-radius: 8px;
    margin: 20px auto;
    padding: 12px 21px;
}

button.generate {
  border-radius: 50px;
}

button:hover {
  background-color: #333333;
  color: white;
  margin: 20px auto;
}

/* Hide the default radio buttons */
input[type="radio"] {
    display: none;
}
  
/* When the radio button is checked, add a blue background color */
input[type="radio"]:checked + .rate {
  background-color: #2196F3;
}

/* Create a custom radio button */
label.rate {
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 10px;
}
  
/* On mouse-over, add a grey background color */
label.rate:hover {
  background-color: #ccc;
}
  
/* Create the number inside the radio button */
label.rate::after {
  content: attr(data-value); /* Use the data-value attribute as the number */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the number */
  font-size: 16px;
  color: white;
}